:root {
	--red: hsl(1, 90%, 64%);
	--blue: hsl(219, 85%, 26%);
	--white: hsl(0, 0%, 100%);
	--very-light-grayish-blue: hsl(210, 60%, 98%);
	--light-grayish-blue-one: hsl(211, 68%, 94%);
	--light-grayish-blue-two: hsl(205, 33%, 90%);
	--grayish-blue: hsl(219, 14%, 63%);
	--dark-grayish-blue: hsl(219, 12%, 42%);
	--very-dark-grayish-blue: hsl(224, 21%, 14%);
}

body {
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	min-height: 100vh;
	font-family: "Plus Jakarta Sans", sans-serif;
}

header {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    margin: 8px 12px;
}

h1 {
    font-size: 20px;
}

img {
    width: 35px;
    margin-right: 10px;
}

.three {
    font-weight: 800;
    font-size: 16px;
    background-color: var(--blue);
    padding: 2px 11px;
    color: var(--white);
    border-radius: 6px;
    margin-left: 5px;
}

.notification-card-b {
    background-color: var(--very-light-grayish-blue);
    border-radius: 6px;
}

.notification-card, .notification-card-b {
    margin: 10px 15px;
    display: flex;
    padding: 10px;
}

.name {
	color: var(--very-dark-grayish-blue);
	font-weight: 800;
}

.notification-msg {
	color: var(--dark-grayish-blue);
}

.msg-content {
	color: var(--dark-grayish-blue);
    font-weight: 800;
}

.time {
	color: var(--grayish-blue);
    margin: 0;
}

.private-msg {
    background-color: var(--white);
    border: 1px solid var(--light-grayish-blue-two);
    padding: 15px 15px 15px 15px;
    border-radius: 4px;
    color: var(--dark-grayish-blue);
}

.chess-club {
    color: var(--blue);
    font-weight: 800;
}

.kimberly-card {
	display: flex;
	flex-direction: row;
}

footer {
	text-align: center;
}

.attribution {
	font-size: 11px;
	text-align: center;
    margin-top: 20px;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.fa-brands {
	font-size: 30px;
	margin: 20px;
    color: var(--blue);
}